.card-container {
    width: 110px;
    height: 110px;
    border: 1px solid black;
    margin: 1em;
    overflow: hidden;
    background-image: url("../img/Back2.png");
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}



.image {
    width: 110px;
    height: 110px;

}