.modal {
    margin: auto;
    position: absolute;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 2em;

    &--instructions {
    	display: none;
        height: 400px;
        width: 600px;       
        background-color: $white;
        border: 1px dashed $primary-text-color;
    }

    &--winner {
    	display: none;
    	height: 200px;
        width: 450px;
        text-align: center;
        border: 3px dashed $primary-color-light;
        background-color: $white;
    }
}

.close {
    position: absolute;
    right: 30px;
    font-size: 1.8em;
    cursor: pointer;
}

.modal-pictures {
    @extend %grid;

    justify-content: space-around;
}