// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: $font-size-base;
  font-family: $font-stack;

}

html, body{
  height: 100%;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: $body-bg;
    color: $body-color;
}

p{
  margin:0;
}


ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    list-style: none;
    padding: 0;
}




a{
  color: $link-color;
  text-decoration: $link-decoration;
  &:hover{
    color: $link-hover-color;
  }
}




.container {
    display: flex;
    flex-direction: column;

    @include respond-to("medium") {
        flex-direction: row;
        flex-wrap: wrap;
    }
}