// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
    box-sizing: border-box;
    font-size: $font-size-base;
    font-family: $font-stack;
}

html, body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    align-items: flex-start;
    position: relative;
}

