.prueba {
    width: 110px;
    height: 110px;
    border: 1px solid black;
    margin: 1em;
    overflow: hidden;
    background-image: url('../img/Back2.png');
    //background-position: center;
    position: relative;
}

#memory-table {
    @extend %grid;
    width: 65%;
    background: #FFDDDD;
    background-position: center;
    margin: auto;
    justify-content: space-around;
}

#nombres {
    
    width: 30%;
}

#botonreiniciar{
    display: block;
    margin: auto;
    border: none;
    padding: 0.5em;
    cursor: pointer;
}

 #informacion, #puntaje {
    width: 80%;
    margin: auto;
}

#textoFinal {
    
    width: 90%;
    margin: 1em auto;
}

.disabled {
    opacity: 0.5;
}

.image, .p1 {
    width: 110px;
    height: 110px;
    position: relative;
}

.nombre {
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: blue;
    //display: none;
}